/*Landing Page*/
html, body, div, span, applet, object, iframe
, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

ul:hover, ul:active, ul:visited, ul:focus {
    list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  background: #f8f8ff;
  color: #221f1f;
  font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}


.Header {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
  justify-content: space-between;
}

.Logo {
  width: 151px;
  height: 41px;
  margin-right: 10px;
  -webkit-transition: margin .125s ease;
  transition: margin .125s ease;
}

.Logo svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.Logo svg path {
  fill: #e50914;
  -webkit-transition: fill .125s ease;
  transition: fill .125s ease;
}
.Logo:hover {
  cursor: pointer;
  margin-top: 2px;
}
.Logo:hover svg path {
  fill: #ffffff !important;
}

.Navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 37px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.Navigation ul li {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  -webkit-transition: background .125s ease;
  transition: background .125s ease;
  border-radius: 3px;
}
.Navigation ul li:hover {
  background: #337ab7;
  cursor: pointer;
}

.Search {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  left:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.Search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20%;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.Search input:focus {
  border: 2px solid #e50914;
  width: 30%;
}

.UserProfile {
  margin-left: auto;
}
.UserProfile .User {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.UserProfile .User .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: border .125s ease;
  transition: border .125s ease;
}
.UserProfile .User .image img {
  width: 100%;
  display: block;
}
.UserProfile .User .name {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
  color: white;
  font-weight: bold;
}
.UserProfile .User:hover {
  cursor: pointer;
}
.UserProfile .User:hover .image {
  border: 1px solid white;
}
.UserProfile .UserProfile-menu {
  display: none;
}

.indexLogo {
  flex: 3 1 auto;
  margin-bottom: 20px;
}

.indexBody {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 9%;
  text-align: center;
  font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.appInfo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 30px;
}

.appBio {
  background: transparent;
  max-width: 50%;
  color: black;
  padding: 20px;
  font-size: 14px;
}

.appStats {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center
}


.Button {
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 44px;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .125s ease, background .125s ease;
}
.Button:hover {
  border: 2px solid #f5f5f1;
  text-decoration: none;
  background: #337ab7;
  color: white;
  cursor: pointer;
}

.survey {
  border: 2px solid #337ab7;
  color: #337ab7;
  margin: 20px auto;
}

.survey:hover {
  background: #337ab7;
  color: white;
}

.Hero {
  margin-bottom: -15vw;
 
}

.container {
  position: relative;
  z-index: 4;
  width: 100%;
  left: 10vw;
  top: 10vw;
}

.profileImage {
  border-radius: 44px;
  box-sizing: border-box;
  max-width: auto;
  max-height: 300px;
  margin-bottom: 20px;
  border: 3px solid transparent;
  float: left;
}

.Interests {
  float: left;
  width: 50%;
  text-align: center;
}

#clear {
  clear: both;
}

.interest {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 10%;
  width: 200px;
  background: transparent;
  color: black;
  border: 2px solid rgba(245, 245, 241, 0.1);
  border-radius: 37px;
  pointer-events: all;
  text-align: center;
  padding: 5px;
  margin: 10px auto;
}

.matching_interests {
  color: blue;
}

.dropdown-menu {
  background-color: none;
  background: transparent;
  background-image: none;
  filter: none;
  min-width: 0;
}

.dropdown-menu > li > a {
  background-color: none;
  color: white !important;
  background-image: none;
  filter: none;
}

.dropdown-menu > li > a:hover {
  background-color: #337ab7;
  background-image: none;
  filter: none;
}

label {
  margin-bottom: 5px !important;
}

.error {
  margin-top: 5px !important;
}


/* Friends */

.contactList {
  margin: 10% auto;
  width: 60%;
}

.left {
  color: white;
  height: 100%;
  width: 30%;
  /*overflow: hidden;*/
  float: left;
  margin-left: 20%;
}

.contacts-container {
  height: 80%;
  overflow: auto;
}

.contact {
  border: solid 2px white;
  background: transparent;
  border-radius: 7px;
  margin: 5px auto;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.contact:hover {
  border: 2px solid #f5f5f1;
  text-decoration: none;
  background: #337ab7;
}

.contact .image {
  height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 50%;
  background-position: -10px 0px;
  background-size: cover;
}

.contact .name {
  margin-left: 10px;
  min-width: 50px;
}

.right {
  float: right;
  border: 1px solid white;
  border-radius: 7px;
  padding: 40px;
  margin-right: 20%;
  margin-bottom: 20%;
}
.contact-info {
  color: white;
}

/* <----------------HARDCODED CSS BEGINS HERE ----------->*/
.home{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.matches{
  height: 700px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.match_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.match {
  margin-bottom: 5px;
}

.home_image {
  height: 100px;
  width: auto;
  margin-right: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.home_name {
  font-size: 35px;
  margin-top: 10px;
}

.home_match {
  display:flex;
  flex-direction: row;
}

.home_match .interests {
  padding: 5px 5px 0px 0px;
  font-size: 12px;
}

.home_event {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
}

.home_event_date {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home_event_title {
  font-size: 25px;
  margin-bottom: 5px;
}

.match_button {
  background-color: #f8f8ff;
  outline: none;
  border: none;
  width: 33px;
  height: 33px;
  padding-top: 5px;
}

.match_button_bar {
  /*background-color: black;*/
  display: flex;
  flex-direction: row;
  width: 292.84px;
  height: 80px;
  justify-content: space-around;
}

.save {
  margin: 150px 0px 0px 200px;
}

.friends_image {
  height: 200px;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.home_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrow {
  max-height: 10%;
  max-width: 10%;
}


.match_rating_star {
  color: #ffda44;
  background-color: #f8f8ff;
}


.reviews {
  height: 50vh;
  overflow: scroll;
}

.profile_review_star {
  max-height: 3%;
  max-width: 3%;
}

.profile_review_text {
  font-size: 20px;
  text-align: left;
}

.profile_review {
  justify-content: center;
}

i:hover {
  cursor: pointer;
}

.interests {
  color: #337ab7;
  margin: 0 auto;
  text-align: center;
  font-size: 18px
}

.ProfileContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15% auto;
  text-align: center;
  font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Profile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 30px;
  width: 70%;
/*  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Profile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ProfilePicture {
  flex: 3 1 auto;
}

.ProfileInfo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.ProfileName {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  color: #337ab7;
}

.ProfileRating {
  margin-top: 10px;
}

.ProfileContactInfo {
  background: transparent;
  max-width: 85%;
  line-height: 1.5em;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  font-size: 14px;
}

.ProfileBio {
  background: transparent;
  max-width: 85%;
  line-height: 1.5em;
  color: black;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  font-size: 14px;
}

.ProfileInterests {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.profileInterest {
  color: black;
  border: 1px solid black;
  padding: 0.5em;
  margin: 2px;

}

.ProfileReview {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center
}

.Reviews {
  display: flex;
  flex-flow: row wrap;
  max-width: 70%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
  margin: 20px;
}

.Review {
  max-width: 30%;
  background: transparent;
  line-height: 1.5em;
  color: #ffffff;
  padding: 20px;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
}

.ReviewRating {

}

.ReviewText {
  
}

.ReviewImage {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 70%;
  border: 3px solid transparent;
}

.ReviewName {
  font-size: 12px;

}

.background {
  width: 100%;
  position: fixed;
  height: 100%;
  padding:0;
  margin:0;
  top:0;
  left:0;
  overflow: overlay;
}


.bubble-container {
  margin: 10px;
  display:flex;
  font-family: sans-serif;
  font-size: 14px;
  align-items: center;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    color: white;
    word-wrap: break-word;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.reviewLeft {
  background: rgba(173, 255, 216, 0.7);
  margin: 5px;
  width: 100%;
}

.reviewLeft::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
  background: rgba(173, 255, 216, 0.7);
}

.reviewRight {
  background: rgba(38,105,232,0.7);
  margin: 5px;
  width: 100%;
}

.reviewRight::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
  background: rgba(38,105,232,0.7);
}

.img-circle {
  border-radius: 42%;
  width:15%;
  align-self: flex-start;
}

.bubble-direction-reverse {
  flex-direction: row-reverse;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contactContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.contactButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contactBio {
  display: flex;
  margin: 0 20px 20px 20px;
  text-align: left;
}

.contactInterests {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 0px 20px 20px 20px;
}
.YelpGridTile:hover {
  cursor: pointer
}

.signupContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10% auto;
  width: 50%;
  padding: 20px;
}

.signinForm {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

/* steam */
.steam{
position: relative;
margin: 0 auto;
-webkit-animation: steam 5s linear infinite 3s;
-moz-animation: steam 5s linear infinite 3s;
-ms-animation: steam 5s linear infinite 3s;
-o-animation: steam 5s linear infinite 3s;
animation: steam 5s linear infinite 3s;
  
}
.steam:before,
.steam:after{
  content: " ";
  position: absolute;
  top:0;
  left:-15px;
  border-right: 0px solid transparent;
  border-top: 2px solid #d6d2d2;
  border-left: 5px solid #d6d2d2;
  border-bottom: 2px solid transparent;
  width: 40px;
  height: 70px;
  z-index: 4;
  border-radius: 80% 0 10% 10%; 

 -webkit-transform: rotate(168deg) skewY(10deg);
 -moz-transform: rotate(168deg) skewY(10deg);
 -ms-transform: rotate(168deg) skewY(10deg);
 -o-transform: rotate(168deg) skewY(10deg);
 transform: rotate(168deg) skewY(10deg);

 -webkit-filter: blur(7px);
 -moz-filter: blur(7px);
 -o-filter: blur(7px);
 -ms-filter: blur(7px);
  filter: blur(7px);
 }

.steam:after{
top:40px;
left:-35px;
z-index: 4;
border-radius: 80% 0 10% 10%; 
-webkit-transform: rotate(315deg) skewY(10deg);
-moz-transform: rotate(315deg) skewY(10deg);
-ms-transform: rotate(315deg) skewY(10deg);
-o-transform: rotate(315deg) skewY(10deg);
transform: rotate(315deg) skewY(10deg);

-webkit-filter: blur(7px);
-moz-filter: blur(7px);
-o-filter: blur(7px);
-ms-filter: blur(7px);
filter: blur(7px);
}


@-webkit-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@-moz-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@-ms-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@-o-keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}

@keyframes steam {
0% { top: 100px; opacity: .075; visibility: visible; }
20% { top: 80px; opacity: 0.2; }
40% { top: 60px; opacity: 0.4; }
60% { top: 40px; opacity: 0.2; }
80% { top: 20px; opacity: .075; }
100% { top: 0px; opacity: 0; visibility: hidden; }
}